# Node and React
/frontend/node_modules/
frontend/build/

# Spring Boot
/backend/target/
backend/.classpath
backend/.project
backend/.settings
backend/hs_err_pid*
backend/.env

# Keep Maven Wrapper
!/backend/.mvn/
!/backend/.mvn/wrapper/maven-wrapper.jar
!/backend/.mvn/wrapper/maven-wrapper.properties
!/backend/mvnw
!/backend/mvnw.cmd

# IDE files
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
